.Contact {color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.JohnMish {color: white; 
    background-color:teal;
    margin: 20px;
}

.images {
    position: relative;
    padding: 25px;

}

.header {
    margin-bottom: 10px;
    position: top;
    height: 10px;
    color: white;
    background-color: teal;
}

.nav
{list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    color:grey;
    font-size: 16px;
    background-color:white;
}


.container {
    background: #ffffff;
    border: solid;
    width: 960px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    word-wrap: normal;
    height: 500px;
    float: center;
    margin-bottom: 100px;
}

.container2 {
    background: #ffffff;
    border: solid;
    width: 960px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    word-wrap: normal;
    height: 800px;
    float: center;
    margin-bottom: 100px;    
  
        position: relative;
      }
      
      .text-block1 {
        position: absolute;
        top: 260px;
        left: 10px;
        background-color: teal;
        width: 200px;
        height: 50px;
        color: white;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
      }

      .text-block2 {
        position: absolute;
        top: 260px;
        left: 214px;
        background-color: teal;
        width: 200px;
        height: 50px;
        color: white;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
      }
      .text-block3 {
        position: absolute;
        top: 490px;
        left: 10px;
        background-color: teal;
        width: 200px;
        height: 50px;
        color: white;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
      }

      .text-block4 {
        position: absolute;
        top: 490px;
        left: 214px;
        background-color: teal;
        width: 200px;
        height: 50px;
        color: white;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
      }

      .text-block5 {
        position: absolute;
        top: 715px;
        left: 10px;
        background-color: teal;
        width: 200px;
        height: 50px;
        color: white;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
      }



.about {
    word-wrap: normal;
    float: right;
    padding: 10px;
  }

.image1 {
      float: left;
      border: solid;
      
  }

.fullpage {
      background-color: gray;
      width: 100%;
      height: 1000px;

  }

.foot {
    background-color:#666666;
    width: 100%;
    height: 100px;
    padding: 25px;
    border-top: thick;
    border: 1px solid white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    

}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

  *, *::after, *::before {
    box-sizing: border-box;
  }